$light-background: #FFDF80;
$font-size: 16pt;

@mixin left  { float: left; }
@mixin right { float: right; }
@mixin clear { clear: both; }

@mixin title {
  text-align: center;
  margin: 10px 0 20px 0;
}

@mixin dialog {
  padding: 10px;
  margin: 150px auto 0 auto;
  width: 400px;
  border: 1px solid gray;
  background-color: $light-background;
  h2 { @include title }

  fieldset {
    margin-bottom: 20px;
  }

  label {
    float: left;
    margin-left: 20px;
  }

  input {
    float: right;
    margin-right: 20px;
  }
}

#container {
  font: $font-size Arial;
}

#body {
  padding: 10px;
  .submit-link {
    float: right;
    font-size: $font-size - 2;
  }

  .flash {
    text-align: center;
    .error { color: red }
  }

  h2 { margin: 20px 0 10px 0; }

  .links {
    .link {
      font-size: $font-size - 4;
      margin-right: 15px;
    }
    .timestamp {
      font-size: $font-size - 8;
      color: #aaa;
    }
  }
}

#header {
  padding: 10px;
  background-color: $light-background;
  border-bottom: 1px solid gray;
  .left {
    @include left;
    a { margin-right: 10px; }
  }
  .right {
    @include right;
    a { margin-left: 10px; }
  }
}

#footer {
}

#login {
  @include dialog;
  height: 180px;
}

#register {
  @include dialog;
  height: 230px;
}

.clearfix { clear: both; float: none; }