$light-background: #FFDF80;

@mixin left  { float: left; }
@mixin right { float: right; }
@mixin clear { clear: both; }

@mixin dialog-form-field {
  margin-left: 30px;
}

@mixin dialog {
  padding: 10px;
  margin: 150px auto 0 auto;
  width: 400px;
  height: 200px;
  border: 1px solid gray;
  background-color: $light-background;

  label {
    @include dialog-form-field;
  }

  input {
    @include dialog-form-field;
    margin-bottom: 20px;
  }
}

@mixin title {
  text-align: center;
  margin: 10px 0;
}

#container {
  font: 16pt Arial;
}

#body {
}

#header {
  padding: 10px;
  background-color: $light-background;
  border-bottom: 1px solid gray;
  min-height: 30px;
  a { margin: 0 10px 0 10px; }
  .left { @include left; }
  .right { @include right; }
}

#footer {
}

#login {
  @include dialog;

  h2 { @include title }
}