#container {
  font: 16pt Arial; }

#header {
  padding: 10px;
  background-color: #ffdf80;
  border-bottom: 1px solid gray;
  min-height: 30px; }
  #header a {
    margin: 0 10px 0 10px; }
  #header .left {
    float: left; }
  #header .right {
    float: right; }

#login {
  padding: 10px;
  margin: 150px auto 0 auto;
  width: 400px;
  height: 200px;
  border: 1px solid gray;
  background-color: #ffdf80; }
  #login label {
    margin-left: 30px; }
  #login input {
    margin-left: 30px;
    margin-bottom: 20px; }
  #login h2 {
    text-align: center;
    margin: 10px 0; }
